<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="/"><img src="/img/logo.png" alt="logo.png" width="210"
        height="75" /></a>
    <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button"
      data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="./index.html">Home</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<section class="compare">
  <h2 class="text-center text-uppercase text-secondary">Compare table</h2>
  <hr class="star-dark mb-5" />
  <div class="comparison">
    <table>
      <thead>
        <tr>
          <th class="tl tl2"></th>
          <th id="phoneTitle1" class="qbse">
            {{phones.[0].title}}
          </th>
          <th id="phoneTitle2" class="qbse">
             {{phones.[1].title}}
          </th>
          {{#if phones.[2]}}
            <th id="phoneTitle3" class="qbse">
              {{phones.[2].title}}
            </th>
          {{/if}}
        </tr>
        <tr>
          <th></th>
          <th class="price-info">
            <img id="phoneImg1" class="responsive" src="{{phones.[0].img}}" alt="Device image">
          </th>
          <th class="price-info">
            <img id="phoneImg2" class="responsive" src="{{phones.[1].img}}" alt="Device image">
          </th>
          {{#if phones.[2]}}
            <th class="price-info phoneTd3">
              <img id="phoneImg3" class="responsive" src="{{phones.[2].img}}" alt="Device image">
            </th>
          {{/if}}
        </tr>
      </thead>
      <tbody>
        {{#each phones.[0]}}
          {{#each @this}}
            <tr>
                <td></td> <td colspan='{{get (get @../../this 'phones') 'length'}}'>{{@../key}} <b>{{@key}}</b></td>
            </tr>
            <tr class='compare-row'>
              <td class='text-secondary'><b>{{@key}}</b></td>
              <td id="{{@key}}1">
                {{get (get (get @../../this 'phones') '0') (concat @../key '.' @key)}}
              </td>
                <td id="{{@key}}2">
                {{get (get (get @../../this 'phones') '1') (concat @../key '.' @key)}}
              </td>
              {{#if (get (get @../../this 'phones') '2')}}
                <td id="{{@key}}3">
                    {{get (get (get @../../this 'phones') '2') (concat @../key '.' @key)}}
                </td>
              {{/if}}
            </tr>
          {{/each}}
        {{/each}}
        <tr>
            <td></td> <td colspan='{{get phones 'length'}}'> More information</td>
        </tr>
        <tr class='compare-row'>
              <td class='text-secondary'>
                <b>More information</b>
              </td>
              <td id="amazonAffiliate1">
                <a class="btn btn-amazon" href="{{get (get phones '0') 'amazon'}}" target="_blank">
                  <i class="fab fa-amazon" aria-hidden="true"></i> Buy on Amazon
                </a>
              </td>
               <td id="amazonAffiliate2">
                <a class="btn btn-amazon" href="{{get (get phones '1') 'amazon'}}" target="_blank">
                  <i class="fab fa-amazon" aria-hidden="true"></i> Buy on Amazon
                </a>
              </td>
              {{#if (get phones '2')}}
                <td id="amazonAffiliate3">
                  <a class="btn btn-amazon" href="{{get (get phones '2') 'amazon'}}" target="_blank">
                    <i class="fab fa-amazon" aria-hidden="true"></i> Buy on Amazon
                  </a>
                </td>
              {{/if}}
        </tr>
      </tbody>

    </table>
  </div>
</section>


<!-- The Modal -->
<div class="modal" id="infoModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Information</h4>
        <button type="button" class="close closeModal" data-dismiss="modal">
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body"></div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-xl closeModal" data-dismiss="modal"
          onclick="window.location.reload();">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-to-top d-lg-none position-fixed ">
  <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>
<!-- Bootstrap core JavaScript -->
<script src="js/jquery/jquery.min.js"></script>
<script src="js/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery-easing/jquery.easing.min.js"></script>
<script src="js/magnific-popup/jquery.magnific-popup.min.js"></script>

<!--Library JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>

<!-- Contact Form JavaScript -->
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>

<!-- Custom scripts for this template -->
<script src="js/phonecomparator.min.js"></script>

<!-- Tools function -->
<script src="js/tools.js"></script>

<!-- Responsive compare Table JS -->
<script src="js/compareTable.js"></script>
